@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;

}

body{
    min-height: 100vh;
    background-color: #0c192c;
}


/* background */
.bubbles{
    position: relative;
    display: flex;

}






/* navbar */

.cover {
    width: 100%;
    height: 110px;
    background-image: url(cover.png);
    background-size: cover;
    background-repeat: no-repeat;

}


.navbar {
    width: 100%;
    height: 52px;
    padding: 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 40px;
    background-image: url(logowobg.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 145px;
    padding-left: 10px;
}

.tags {
    margin-right: 100px;
}

ul a {
    text-decoration: none;
    color: #DDDDDD;
}

.tags ul {
    display: flex;
    list-style-type: none;
}

.tags ul li {
    padding: 0px 10px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
